.projects {
  // .projects__header
  margin: 20px 20px;
  &__header {
    display: flex;
  }

  // .projects__main

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 70px;
    grid-row-gap: 0px;
  }
}
