.password-input {
  position: relative;
  width: 100%;
}
.password__eye {
  position: absolute;
  right: 12px;
  color: #696969;
  top: 50%;
  cursor: pointer;
  border: none;
  background-color: #ffffff00;
  transform: translateY(-50%);
}
