.auth {
  &__form {
    max-width: 378px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    > h4 {
      color: #98a2b3;
      font-size: 16px;
      font-weight: normal;
      > a {
        color: #1570ef;
      }
    }
  }

  &__input {
    padding: 14px 16px;
    margin: 10px 0;
    width: 90%;
    border-radius: 15px;
    outline: none;
    border: 1px solid #d0d5dd;
    &::placeholder {
    }
    &:focus {
      outline: #d1e9ff;
      border-color: #d1e9ff;
    }
  }

  &__btn {
    padding: 18px 0;
    text-align: center;
    background-color: #1570ef;
    color: #fcfcfd;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    &:hover {
      opacity: 0.8;
    }
  }
}
.auth-control {
  &__label {
    display: flex;
    flex-direction: column;
    color: #344054;
  }
}
.password-input {
  position: relative;
  width: 100%;
}
.password__eye {
  position: absolute;
  right: 12px;
  color: #696969;
  top: 50%;
  cursor: pointer;
  border: none;
  background-color: #ffffff00;
  transform: translateY(-50%);
}
