.subtask-card {
  background: #f9f9f9;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(19, 10, 10, 0.05);
  border: 1px solid #e5e5e5;
  font-size: 0.95rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__row {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__name {
    margin: 0 0 10px 0;
  }
  &__label {
    font-weight: 600;
    color: #333;
    min-width: 90px;
  }

  &__value {
    color: #555;
    word-break: break-word;
  }
}
.subtask__done {
  height: 20px;
  width: 20px;
}
