<div class="task-info">
  <h2 class="task-title">{{ task.name }}</h2>

  <div class="info-block">
    <label>Описание:</label>
    <p class="description">{{ task.description }}</p>
  </div>
  <div class="info-block">
    <label>Дата создания:</label>
    {{task.dateCreate}}
  </div>
  <div class="info-block">
    <label>Приоритет:</label>
    <select [ngModel]="task.priority" (ngModelChange)="onPriorityChange($event)">
      <option [value]="priorityEnum.CRITICAL">Критический</option>
      <option [value]="priorityEnum.HIGH">Высокий</option>
      <option [value]="priorityEnum.MEDIUM">Средний</option>
      <option [value]="priorityEnum.LOW">Низкий</option>
    </select>
  </div>

  <div class="info-block">
    <label>Статус:</label>
    <select [ngModel]="task.status" (ngModelChange)="onStatusChange($event)">
      <option [value]="statusEnum.PROGRESS">Разрабатывается</option>
      <option [value]="statusEnum.DONE">Выполнено</option>
      <option [value]="statusEnum.TODO">В очереди</option>
    </select>
  </div>

  <div class="info-block">
    <label>Срок завершения:</label>
    <div class="deadline">
      <span *ngIf="!showEditDate">{{ task.dateTo || 'Не указан' }}</span>
      <input *ngIf="showEditDate" type="date" [(ngModel)]="editDateTo" />

      <div class="actions">
        <button *ngIf="!showEditDate" (click)="showEditDate = true">Изменить</button>
        <button *ngIf="showEditDate" (click)="saveDateTo()">Сохранить</button>
        <button *ngIf="showEditDate" (click)="cancelEditDate()">Отмена</button>
      </div>
    </div>
  </div>
  <div class="info-block">
    Категории

    <div class="category__list">
      @for(category of task.categories; track task.name)
      {
      <div class="category__tag">
        {{ category.name}}

      </div>
      }
    </div>

  </div>
</div>