<form action="" [formGroup]="projectForm" (ngSubmit)="onSubmit()" class="project-form">
  <label for="">
    Название проекта
    <input type="text" formControlName="name" placeholder="Проект 1" class="project-form__control">
  </label>
  <label for="">
    Описание проекта
    <input type="text" formControlName="description" placeholder="Описание" class="project-form__control">
  </label>

  <!-- <label for="">
    projectStatus
    <input type="text" formControlName="projectStatus" placeholder="Проект 1" class="project-form__control">
  </label>
  <label for="">
    projectPriority
    <input type="text" formControlName="projectPriority" placeholder="Проект 1" class="project-form__control">
  </label>
  <label for="">
    projectCategory
    <input type="text" formControlName="projectCategory" placeholder="Проект 1" class="project-form__control">
  </label> -->

  <button type="submit" [disabled]="projectForm.invalid">Создать проект</button>
</form>