<div class="sidebar">
  <div class="sidebar__brand"><img src="assets/Group 4.png" alt=""></div>

  <nav class="sidebar__menu">
    <ul class="sidebar-menu__list">
      <li class="sidebar-menu__item"><a [routerLink]="['/profile']"><mat-icon>dashboard</mat-icon> Профиль</a></li>
      <li class=" sidebar-menu__item"><a [routerLink]="['/projects']"> <mat-icon>folder_open</mat-icon> Проекты</a></li>
      <li class="sidebar-menu__item"><a href="#"><mat-icon>settings</mat-icon> Настройки</a></li>
    </ul>
  </nav>
  <div class="sidebar__project">

  </div>
</div>