@if(me$ | async; as me){
<div class="header">
  <div class="header__top">
    <div class="head-top__search">
      <input type="text" placeholder="Поиск" class="search">
    </div>
    <div class="head-top__item">
      <div class="head-top__ava">
        <img [src]="me.avatarUrl" alt="">
      </div>
      <div (click)="showNotification(!showNotif)" class="head-top__notification">
        <mat-icon>notifications</mat-icon>
      </div>
      @if(showNotif){
      <app-notification class="notification-wrapper" appClickOutside (clickOutside)="hideNotification()" />
      }
    </div>

  </div>

</div>
}