@if(project) {
<div class="project-card">

  <div class="project-card__header">
    <div class="project-card__info">
      <h3 class="project-card__title">{{ project.name }}</h3>
      <p class="project-card__owner">Автор: {{ project.createUser.username }}</p>
    </div>
    <button class="project-card__menu">
      <button matButton [matMenuTriggerFor]="menu" class="project-card__menu"> <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDeleteProject()">Удалить</button>
        <button mat-menu-item> >Редактировать </button>
      </mat-menu>
    </button>
  </div>

  <p class="project-card__description">Описание: {{ project.description }}</p>

  <div class="project-card__meta">
    <!-- <span class="project-card__date">Создан: {{ project.dateTo }}</span> -->
    <span class="project-card__date">Создан: -</span>

  </div>



  <div class="project-card__selects">
    <label class="project-card__select">
      Статус:
      <select name="progress" [value]="project.status">
        <option value="ACTIVE">Разрабатывается</option>
        <option value="STOPPED">Приостановлено</option>
        <option value="COMPLETED">Выполнено</option>
        <option value="DRAFT">Черновик</option>

      </select>
    </label>

    <label class="project-card__select">
      Приоритет:
      <select name="priority" [value]="project.priority">
        <option value="HIGH">Высокий</option>
        <option value="MEDIUM">Средний</option>
        <option value="LOW">Низкий</option>
      </select>
    </label>
  </div>

  <div class="project-card__tags">
    <div class="project-card__tag">
      {{project.category}}

    </div>

  </div>

  <div class="project-card__footer">
    <button class="open-btn"> <a [routerLink]="[`/project/${project.createUser.username}/${project.name}`]">Открыть
        проект</a>
    </button>
  </div>
</div>
}