@if(project$ | async; as project){
<div class="container">
  <div class="project">
    <div class="project__main">
      <header class="header">
        <div>
          <button class="open-btn" (click)="goBack()"><- </button>

        </div>

        <div class="project__info">
          <span class="project__name">{{project.name}}</span>
          <form [formGroup]="form">
            <div class="project__description">
              <h4>Описание</h4>
              @if(!isEditingNameDesc){
              <div>
                <div class="description__text">{{ project.description }}</div>
                @if(project.createUser.id == me()?.id){
                <button class="edit-btn" (click)="toggleEditNameDesc()">Редактировать</button>
                }
              </div>
              }@else{
              <div>
                <input type="text" formControlName="name" placeholder="Имя проекта" />
                <textarea formControlName="description" placeholder="Описание проекта"></textarea>
                <button class="edit-btn" (click)="saveNameDesc()">Сохранить</button>
                <button class="cancel-btn" (click)="toggleEditNameDesc()">Отмена</button>
              </div>
              }
            </div>

          </form>

        </div>
      </header>

      <app-tasks-board [projectId]="projectId"></app-tasks-board>
    </div>
    <div class="project__side-bar">
      <div class="side-bar__item">
        <h3>Информация о проекте</h3>
        <app-project-page-info [project]="project" [form]="form" [profileId]="profileId"></app-project-page-info>
        <div class="project__executors info__item">
          <div class="executors__add">
            <h5>Исполнители</h5>
            @if(project.createUser.id == me()?.id){
            <button (click)="openCreateDialog()" class="open-btn">+</button>
            }
          </div>
          <app-project-page-executors [project]="project" [projectId]="projectId" [executors]="project.executors"
            [profileId]="profileId">
          </app-project-page-executors>

        </div>
      </div>
    </div>

  </div>

</div>
}