@if(task$ | async; as task){
<div class="container">
  <div class="project">
    <div class="project__main">
      <header class="header">
        <div>
          <button class="open-btn" (click)="goBack()"><- </button>
        </div>
        <div class="project__info">
          <span class="project__name">{{task.name}}</span>
          <form [formGroup]="form">
            <div class="project__description">
              <h4>Описание</h4>
              @if(!isEditingNameDesc){
              <div>
                <div class="description__text">{{ task.description }}</div>
                @if(task.createUser.id){
                <button type="button" class="edit-btn" (click)="toggleEditNameDesc()">Редактировать</button>
                }
              </div>
              }@else{
              <div>
                <input type="text" formControlName="name" placeholder="Название задачи" />
                <textarea formControlName="description" placeholder="Описание задачи"></textarea>
                <button class="edit-btn" type="button" (click)="saveNameDesc(task)">Сохранить</button>
                <button class="cancel-btn" type="button" (click)="toggleEditNameDesc()">Отмена</button>
              </div>
              }
            </div>

          </form>

        </div>
      </header>
      <div class="view__type">
        <button class="open-btn" (click)="openCreateDialog()">Добавить подзадачу</button>
      </div>
      <div class="subtasks__section">
        <app-subtasks-list [projectId]="projectId" [taskId]="taskId"></app-subtasks-list>
      </div>
    </div>
    <div class="project__side-bar">
      <div class="side-bar__item">
        <h3>Информация о задаче</h3>
        <app-task-page-info [task]="task" [form]="form" [projectId]="projectId"></app-task-page-info>
        <div class="project__executors info__item">
          <div class="executors__add">
            <h5>Исполнители</h5>
            <!-- @if(task. id == me()?.id){
            <button (click)="openCreateDialog()" class="open-btn">+</button>
            } -->
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
}